* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(46, 46, 46);
}

h1, h2, h3, h4 {
    font-family: "SN Pro", sans-serif;
    font-weight: 800;
    text-shadow: 0px 0px 10px black;
}

label {
    font-family: "SN Pro", sans-serif;
    font-weight: 800;
    text-shadow: 0px 0px 10px black;
    font-size: 30px;
    color: white;
}

.navBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 20px 20px 0px 20px;
}

.navBar button, #workoutHomeButton {
    color: rgb(17, 137, 181);
    background-color: rgb(46, 46, 46);
    border: none;
    font-size: 40px;
    text-shadow: 0px 0px 5px black;
}

.normalButton, .exerciseButton, #createExercise, #saveButton, #addExercise, #submitWorkout, #restartButton {
    font-family: "SN Pro", sans-serif;
    color: white;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 10px black;
    padding: 10px;
    font-weight: 500;
    font-size: 30px;
    text-shadow: 0px 0px 5px rgb(46, 46, 46);
}

.normalButton {
    width: 350px;
    height: 80px;
    background-color: rgb(17, 137, 181);
}

.exerciseButton {
    width: 350px;
    height: 80px;
    font-size: 20px;
    background-color: rgb(17, 137, 181);
}

#restartButton {
    font-size: 20px;
    background-color: rgb(203, 91, 91);
    gap: 10px;
}

#createExercise, #saveButton, #addExercise, #submitWorkout{
    width: 100%;
    background-color: rgb(57, 136, 57);
}

#createExercise p, #saveButton p, #addExercise p, #submitWorkout {
    background-color: rgb(57, 136, 57);
}

h1 {
    font-size: 50px;
    color: rgb(17, 137, 181);
}

h2 {
    font-size: 40px;
    color: white;
}

h3 {
    font-size: 15px;
    color: white;
}

h4 {
    font-size: 20px;
    color: rgb(17, 137, 181);
}

.screen {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

#beginWorkoutList, #editWorkoutList {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.beginWorkout, .editWorkout {
    font-size: 25px;
}

#exercisesEditor {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
}

#exercisesEditor section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.moveDown, .delete {
    font-size: 40px;
    background-color: rgb(46, 46, 46);
    border: none;
    text-shadow: 0px 0px 5px black;
}

.moveDown {
    color: white;
}

.delete {
    color: red;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

textarea {
    box-shadow: 0px 0px 10px black;
    border-radius: 5px;
}

#prevNextExercise {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px;
    width: 100%;
    display: flex;
    align-items: center;
}

#prevNextExercise > div:first-child {
    flex: 1;
    text-align: left;
}

#prevNextExercise > div:last-child {
    flex: 1;
    text-align: right;
}

#mainTime, #exerciseTime {
    font-variant-numeric: tabular-nums;
}

#exerciseTime {
    font-size: 30px;
    padding: 10px;
}

#bestTime {
    padding: 10px;
}

#progressBarContainer {
    width: 100%;
    height: 20px;
    background-color: rgb(70, 70, 70);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 10px black inset;
}

#progressBarFill {
    height: 100%;
    width: 0%;
    background-color: rgb(57, 136, 57);
    transition: width 0.05s linear;
}

#currExerciseTime {
    padding: 10px;
}

/* Navigation */
.active {
    display: flex;
}

.inactive {
    display: none;
}

/* Change Colour */
.grey, .grey p {
    background-color: lightslategray !important;
}
